:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.resize-none {
  resize: none !important;
}

.br3--btn-m {
  border-radius: 0rem;
}

.br3--btn-r {
  border-radius: 0rem 0.5rem 0rem 0rem;
}

.br3--btn-l {
  border-radius: 0.5rem 0rem 0rem 0rem;
}

.w35 {
  width: 6rem;
}

pre {
  width: 100%; /* or the width you prefer */
  max-width: 100%; /* ensures the pre element doesn't exceed its container */
  overflow: auto; /* adds horizontal scrolling when needed */
}

code {
  white-space: pre-wrap; /* allows the text to wrap */
  word-wrap: break-word; /* ensures long words can break and wrap to the next line */
  overflow-wrap: break-word; /* similar to word-wrap, but a standard CSS property */
}

.transparent-btn {
  background-color: rgba(255, 255, 255, 0.0);
  transition: background-color .15s ease-in-out;
}

.transparent-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* responsive design test classes */
/* Tachyons breakpoints */
/* 'not-small' breakpoint */
@media screen and (min-width: 30em) {
  .bg-blue-ns { background-color: blue; }
  .bg-red-ns { background-color: red; }
  .bg-purple-ns { background-color: purple; }
  .w-100-ns-strong { width: 100% !important; }
  .w0-ns-strong { width: 0rem !important; }
}

/* 'medium' breakpoint */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .bg-blue-m { background-color: blue; }
  .bg-red-m { background-color: red; }
  .bg-purple-m { background-color: purple; }
}

/* 'large' breakpoint */
@media screen and (min-width: 60em)  {
  .bg-blue-l { background-color: blue; }
  .bg-red-l { background-color: red; }
  .bg-purple-l { background-color: purple; }
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: white;
  border-right: 1px solid white;
  vertical-align: top;
  /* background-color: green; */
  width: 2.25rem;
}

.hljs-ln-n {
  padding-right: 0.25rem;
  /* background-color: red; */
}

/* useful classes for testing and debugging purposes */
.hljs-ln-code {
  /* background-color: blue; */
}

.hljs-ln {
  /* background-color: purple; */
}

.hljs-ln-line {
  
}

.hljs-ln-line.hljs-ln-code {
  /*background-color: pink;*/
  padding-left: 0.5rem;
}

pre table {
  table-layout: fixed; /* Helps in managing column widths */
  width: 100%;         /* Forces the table to obey the width of the pre */
}

.textarea-ph {
  /* background-color: orange; */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.pl0-strong {
  padding-left: 0rem !important;
}

.pl-textarea-strong {
  padding-left: 2.75rem !important;
}

.w-animate {
  transition: width 0.5s ease-in-out;
}

.reverse-dim {
  opacity: 0.7;
  transition: opacity .15s ease-in;
}

.reverse-dim:hover, .reverse-dim:focus {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.reverse-dim:active {
  opacity: 0.85;
  transition: opacity .15s ease-out;
}

/* BELOW MARKED FOR REMOVAL */
/* Hide scrollbar for Chrome, Safari and Opera */
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.invisible-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.shift-up-right {
  position: relative;
  top: -0.1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevents content from "spilling" */
  border-width: 0;
}

.visually-hidden:hover {
  position: inherit;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
  border-width: 0;
}

.off-screen {
  position: absolute;
  left: -9999px;
}

.balance {
  text-wrap: balance;
}

.play-button {
  color: inherit; 
  background-color: transparent; 
  border: none; 
  z-index: inherit; 
  cursor: inherit; 
  text-shadow: inherit;
  line-height: inherit;
}